*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Mukta', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

h1{
    color: #D35400;
}

p{
    font-size: 20px;
    color: #D35400 ;
}


.seleccionar-figura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #FF8A65;
}

.seleccionar-circulo,
.seleccionar-cuadrado,
.seleccionar-triangulo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.seleccionar-cuadrado{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.seleccionar-circulo{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.seleccionar-circulo img{
    width: 120px;
}

.seleccionar-cuadrado img{
    width: 130px;
}

.seleccionar-triangulo img{
    width: 110px;
}

.seleccionar-circulo:hover,
.seleccionar-cuadrado:hover,
.seleccionar-triangulo:hover{
    background-color: #FF5722;
}

.container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    width: 100px;
    
}

.cuadrado{
    border: 2px solid #3498DB;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 10px 5px 25px #3498DB;
    background-color: #D4E6F1 ;
}

.cuadrado h2{
    color: #3498DB;
}

.triangulo{
    border: 2px solid #2ECC71 ;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 10px 5px 25px #2ECC71;
    background-color: #D5F5E3 ;
}
.triangulo h2{
    color: #2ECC71;
}

.circulo{
    border: 2px solid #F1C40F ;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 10px 5px 25px #F1C40F;
    background-color: #FCF3CF;
}

.circulo h2{
    color: #F1C40F ;
}

section{
    max-width: 90%;
}

section h2{
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label{
    font-size: 16px;
    margin-bottom: 10px;
}

form input{
    border-style: none;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 36px;
}

input:invalid {
    border: 2px red;
  }

.button input{
    border-style: none;
    padding: 8px;
    border-radius: 18px;
    font-family: 'Mukta', sans-serif;
    color: #ffff;
    margin-bottom: 10px;
}

.button-cuadrado input{
    background-color: #3498DB;
    cursor: pointer;
}

.button-cuadrado input:hover{
    background-color: #1B4F72;
}

.button-triangulo{
    text-align: center;
}

.button-triangulo input{
    background-color: #2ECC71;
    cursor: pointer;
}

.button-triangulo input:hover{
    background-color: #186A3B ;
}

.button-circulo input{
    background-color: #F1C40F;
    cursor: pointer;
}

.button-circulo input:hover{
    background-color: #7D6608 ;
}

.resultados p{
    color: #000;
    font-size: 16px;
}

.index-talleres a{
    color: #FF5722;
}


@media(min-width:720px){
    section{
        max-width: 50%;
    }
    .seleccionar-figura{
        width: 75%;
        flex-direction: row;
    }
    .seleccionar-cuadrado{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 18px;
        border-top-left-radius: 18px;
        padding: 33px 33px 34px 33px;
    }
    .seleccionar-circulo{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 18px;
        border-top-right-radius: 18px;
        padding: 28px;
    }
    .seleccionar-triangulo{
        padding: 20px 20px 21px 20px;
    }
    

}



